.search-bar {
    margin: 20px 15px;
    text-align: center;
}

.search-bar input {
    width: 100%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    background-color: #D36A48;
}

.video-list .media-heading {
    margin-top: 10px;
}

.loading {
    color: #fff;
    margin-left: 15px;
}

.list-group {
    background-color: #D36A48;
}

.list-group-item {
    cursor: pointer;
    background-color: #7C7C7C;
}

.list-group-item:hover {
    background-color: #eee;
}

body {
    background-color: #171717 !important;
}